@mixin navButton {
  color: white;
  text-transform: capitalize;
  padding: 10px 15px;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid white;
    text-decoration: none;
    color: white;
    border-radius: 5px;
  }
}

@mixin special_button {
  padding: 5px 10px;
  border: 2px solid #40556a;
  background: transparent;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.7s;
  margin: 0 5px;
  &:hover {
    background: #1bbc9b;
    border: 2px solid transparent;
    text-decoration: none;
    transition: 0.7s;
  }
}

@mixin whiteOutLiniBTN {
  border: 2px solid white;
  background: transparent;
  &:hover{
    color: black !important;
    border: 2px solid black !important;
  }
}
@mixin tagsWidgetBTN {
  border: 2px solid #a3b1ba;
    background: transparent;
    padding: 8px 10px;
    font-size: 14px;
    color: #a0b1bb;
  &:hover {
    background: #19bd9b;
    border: 2px solid transparent;
    color: #FFF;
    text-decoration: none;
  }
}

@mixin paddingY {
  padding: 100px 0 !important;
}

// media query start here
// large_destop
@mixin large_desktop {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}
// large_destop

//destop
@mixin desktop {
  @media only screen and (max-width: 991px) {
    @content;
  }
}
//destop

//tablets
@mixin tablets {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
//tablets

 // media for landscape_phones
 @mixin landscape_phones {
  @media only screen and (max-width: 575px) {
    @content;
  }
}
// media for landscape_phones

// iphone6
@mixin middleIphone {
  @media only screen and (max-width: 480px) {
   @content; 
  }
}
// iphone6


// media for small iphones
@mixin iphone5S {
  @media only screen and (max-width: 320px) {
    @content;
  }
}
// media for small iphones

// media query end here