@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster");
header {
  background-size: cover;
  min-height: 625px;
  width: 100%;
  position: relative;
  .headingOfslider {
    width: 100%;
    background: #00000063;
    min-height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header_main {
    position: absolute;
    top: 25px;
    width: 100%;
  }
  li {
    display: inline;
    .search_Icon {
      border: 0;
      padding: 0;
    }
    .search_Icon:hover {
      border: 0;
    }
    a {
      @include navButton;
    }
  }
}
input#searchPart {
  display: none;
}
//slider
.heading-box h2 {
  width: 100%;
  color: red;
}
.text-box {
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 30%;
  background: #0000006e;
  min-height: 150px;
  padding-top: 2%;
  left: 50%;

  h2 {
    font-size: 60px;
    color: #01ffe5;
    font-weight: 200;
  }
  h2::before {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background: #01ffe5;
    top: 54.5%;
    left: 8.2%;
  }
  h2::after {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background: #01ffe5;
    top: 54.9%;
    right: 8.5%;
  }
}

// amazing section

#amazingContentSixBox {
  display: inline-block;
  width: 100%;
  .amazingUpContent {
    width: 100%;
    .amazingItem {
        max-width: 350px;
        min-height: 200px;
        width: 100%;
    }
  }
}
