@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Kaushan+Script|Libre+Baskerville|Lobster");
header {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  background-size: cover;
  min-height: 625px;
  position: relative;
  .headingOfslider {
    width: 100%;
    background: #00000063;
    min-height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include desktop {
      min-height: 175px;
    }
    @include tablets {
      min-height: 170px;
    }
    @include landscape_phones {
      min-height: 165px;
    }
  }
  .header_main {
    position: absolute;
    top: 25px;
    width: 100%;
    z-index: 2;
    .logo {
      float: left;
      @include desktop {
        width: 12%;
      }
      @include tablets {
        width: 20%;
      }
      @include iphone5S {
        width: 50%;
      }
      img {
        width: 100%;
      }
    }
    nav {
      float: right;
      @include tablets {
        display: none;
        width: 100%;
        text-align: center;
        background: #1bbc9bbd;
        padding: 25px;
      }
      li {
        float: left;
        list-style: none;
        @include tablets {
          float: none;
          margin: 2% 0;
        }
        .search_Icon {
          border: 0;
          padding: 0;
        }
        .search_Icon:hover {
          border: 0;
        }
        a {
          @include navButton;
          @include tablets {
            width: 100%;
            display: inline-block;
          }
          @include large_desktop {
            padding: 5px 7px;
          }
        }
      }
    }

    .innerOfHeader {
      display: inline-block;
      width: 100%;
      position: relative;
      @include landscape_phones {
        padding: 0 10px;
      }
      .menuBar {
        display: none;
        @include tablets {
          display: block;
          float: right;
          position: absolute;
          right: 0;
        }
        @include landscape_phones {
          right: 10px;
        }
        i {
          font-size: 30px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .controlOfMainSlider {
    position: absolute;
    top: 50%;
    width: 100%;
    @include landscape_phones {
      img {
        width: 50%;
      }
    }
  }
}
input#searchPart {
  display: none;
}
//slider
.heading-box h2 {
  width: 100%;
  color: red;
}
.text-box {
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 30%;
  background: #0000006e;
  min-height: 150px;
  padding-top: 2%;
  left: 50%;
  @include tablets {
    width: 39%;
  }
  @include landscape_phones {
    width: 55%;
  }
  @include middleIphone {
    width: 66%;
  }
  @include iphone5S {
    width: 100%;
  }
  h2 {
    font-size: 60px;
    color: #01ffe5;
    font-weight: 200;
  }
  h2::before {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background: #01ffe5;
    top: 54.5%;
    left: 8.2%;
    @include large_desktop {
      left: 3%;
    }
    @include desktop {
      left: 0;
      width: 30px;
    }
    @include tablets {
      top: 51.5%;
      width: 32px;
    }
    @include landscape_phones {
      top: 51.1%;
      width: 40px;
    }
    @include middleIphone {
      top: 50.1%;
    }
    @include iphone5S {
      top: 49%;
      width: 42px;
    }
  }
  h2::after {
    content: "";
    width: 50px;
    height: 2px;
    position: absolute;
    background: #01ffe5;
    top: 54.9%;
    right: 8.5%;
    @include large_desktop {
      right: 3.5%;
      top: 54%;
    }
    @include desktop {
      right: 0;
      width: 30px;
      top: 53%;
    }
    @include tablets {
      top: 51.5%;
      width: 32px;
    }
    @include landscape_phones {
      top: 51.1%;
      width: 40px;
    }
    @include middleIphone {
      top: 50.1%;
    }
    @include iphone5S {
      top: 49%;
      width: 42px;
    }
  }
}

// amazing section

#amazingContentSixBox {
  display: inline-block;
  width: 100%;
  .amazingUpContent {
    width: 100%;
    @include landscape_phones {
      padding: 0 10px;
    }
    .amazingItem {
      max-width: 350px;
      min-height: 200px;
      width: 100%;
      @include large_desktop {
        max-width: 315px;
      }
      @include desktop {
        max-width: 235px;
      }
      @include tablets {
        max-width: 260px;
      }
      @include landscape_phones {
        max-width: unset;
        text-align: center;
      }
      span {
        @include desktop {
          font-size: 14px;
        }
      }
    }
  }
}
#slider-animation {
  a {
    width: 7%;
  }
}
#special_Portfolio {
  background: url(../img/special_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 385px;
  .menu_in_special {
    display: inline-flex;
    width: 100%;
    .gallery_product {
      overflow: hidden;
      margin: 0;
      padding: 0;
      @include landscape_phones {
        width: 50%;
      }
    }
    .button_special-section {
      width: 100%;
    }
    .filter-button {
      @include special_button;
      @include iphone5S {
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
  }
  .innerContent_special {
    display: inline-block;
    width: 100%;
  }
  #portfolio {
    img {
      width: 100%;
    }
  }
}

/*	gallery */

.gallery-title {
  font-size: 36px;
  color: #3f6184;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.filter-button {
  font-size: 18px;
  border: 2px solid #3f6184;
  padding: 5px 10px;
  text-align: center;
  color: #3f6184;
  margin-bottom: 30px;
  background: transparent;
}
.filter-button:hover,
.filter-button:focus,
.filter-button.active {
  color: #ffffff;
  background-color: #3f6184;
  outline: none;
}
.gallery_product {
  margin: 0px;
  padding: 0;
  position: relative;
}
.gallery_product .img-info {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  color: #fff;
  top: 0;
  display: none;
  -webkit-transition: 2s;
  transition: 2s;
  width: 100%;
}

.gallery_product:hover .img-info {
  display: block;
  -webkit-transition: 2s;
  transition: 2s;
}

/*	end gallery */
//gallery

.doYouLike {
  background: #18aee0;
  .innerContentDoYouLike {
    display: inline-block;
    width: 100%;
    @include tablets {
      text-align: center;
    }
    h3 {
      @include desktop {
        font-size: 22px;
      }
      @include tablets {
        text-align: center;
        float: none !important;
      }
    }
    button {
      @include whiteOutLiniBTN;
      @include tablets {
        float: none;
      }
    }
  }
}
//our skills
.itemOur {
  width: 50%;
  padding: 0 15px;
  @include tablets {
    width: 100%;
  }
  button {
    @include iphone5S {
      width: 100%;
    }
  }
}
.progress .progress-bar {
  animation-name: animateBar;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}
@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.progress {
  min-height: 25px;
  .progress-bar {
    text-align: left;
    padding: 5px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
  }
}

//counter
.counter {
  color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
  p {
    font-size: 16px;
    @include tablets {
      font-size: 14px;
    }
    @include middleIphone {
      font-weight: 500 !important;
    }
  }
  .count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    @include middleIphone {
      font-size: 30px;
    }
  }
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: #4ad1e5;
}
.countDown {
  background: #e36968;
  overflow: hidden;
  .counterInner {
    width: 100%;
    display: inline-block;
    @include iphone5S {
      padding: 0 20px;
    }
    .col {
      width: 25%;
      padding: 0;
    }
  }
}
$font-primary: #3d3d3d;
// testimonial
.testimonial {
  background: #000 url(../img/323.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: hard-light;
  li {
    float: left;
    @include large_desktop {
      width: 30%;
    }
    @include middleIphone {
      width: 27%;
    }
  }
  li:nth-child(3n-1) {
    margin: 0 5%;
  }
  .card {
    margin: 0 auto;
    background: transparent;
    color: white;
    #carouselExampleControls {
      padding: 25px 25px 0;
      @include desktop {
        padding: 0 25px 0;
      }
      .carousel-inner {
        padding: 0 30px;
        .carousel-item {
          min-height: 140px;
        }
      }
    }

    .carousel-caption {
      padding: 0;
      right: 0;
      left: 0;
      top: 1px;
      color: $font-primary;
      h3 {
        color: white;
      }
      p {
        line-height: 30px;
      }
      .col-sm-3 {
        display: flex;
        align-items: center;
      }
      .col-sm-12 {
        text-align: left;
        color: white;
      }
    }
    .carousel-control-prev,
    .carousel-control-next {
      color: #3d3d3d !important;
      opacity: 1 !important;
      z-index: 9999;
    }
  }
  .rightImages_testimonial {
    @include tablets {
      margin-top: 1rem;
    }
    img {
      @include large_desktop {
        width: 100%;
      }
    }
  }
}
//listpart
.headListPart {
  display: inline-block;
  width: 100%;
  .item_listPart {
    max-width: 270px;
    width: 100%;
    @include large_desktop {
      max-width: 240px;
    }
    @include desktop {
      max-width: 175px;
    }
    @include tablets {
      max-width: unset;
      width: 50%;
      margin-bottom: 1rem;
    }
    @include landscape_phones {
      text-align: center;
    }
    li {
      margin-bottom: 3%;
      list-style-type: square;
      color: #abb1c1;
      a {
        color: #9fb1bb;
        transition: 0.5s;
        &:hover {
          text-decoration: none;
          color: #1abd9e;
          transition: 0.5s;
          padding-left: 10px;
        }
      }
    }
  }
}
//listpart

//gallery slider

.projects-section {
  position: relative;
  .projectHead {
    min-height: 394px;
    @include iphone5S {
      min-height: 347px;
    }
  }
}

.projects-section .outer-container {
  position: relative;
  padding: 0px 50px;
}

.projects-section .outer-container .owl-dots {
  display: none;
}

.projects-section .outer-container .owl-nav {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.projects-section .outer-container .owl-nav .owl-prev {
  position: absolute;
  content: "";
  left: -50px;
  top: 20px;
  color: #ffffff;
  width: 50px;
  bottom: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #161a33;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.projects-section .outer-container .owl-nav .owl-prev span {
  top: 50%;
  position: relative;
}

.projects-section .outer-container .owl-nav .owl-next {
  position: absolute;
  content: "";
  right: -50px;
  top: 20px;
  color: #ffffff;
  width: 50px;
  bottom: 20px;
  font-size: 24px;
  text-align: center;
  background-color: #161a33;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.projects-section .outer-container .owl-nav .owl-next span {
  top: 50%;
  position: relative;
}

.projects-section .outer-container .owl-nav .owl-prev:hover,
.projects-section .outer-container .owl-nav .owl-next:hover {
  background-color: #f97534;
}

.project-block {
  position: relative;
  z-index: 99;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.project-block .inner-box {
  position: relative;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.project-block:hover {
  transform: scaleY(1.07);
}

.project-block .inner-box .image {
  position: relative;
}

.project-block .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
}

.project-block .inner-box .image .overlay-box {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
  transition: all 900ms ease;
  -webkit-transform: perspective(400px) rotateY(90deg);
  -moz-transform: perspective(400px) rotateY(90deg);
  -ms-transform: perspective(400px) rotateY(90deg);
  -o-transform: perspective(400px) rotateY(90deg);
  transform: perspective(400px) rotateY(90deg);
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  -ms-transform-origin: right;
  -o-transform-origin: left;
  transform-origin: left;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: rgba(22, 26, 51, 0.9);
}

.project-block .inner-box:hover .image .overlay-box {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateY(0deg);
  -moz-transform: perspective(400px) rotateY(0deg);
  -ms-transform: perspective(400px) rotateY(0deg);
  -o-transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
}

.project-block .inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding: 25px 28px;
  background-color: #f97534;
}

.project-block .inner-box .image .overlay-box .title {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  padding-left: 40px;
}

.project-block .inner-box .image .overlay-box .title:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 10px;
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.project-block .inner-box .image .overlay-box h3 {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3em;
  margin-top: 8px;
}

.project-block .inner-box .image .overlay-box h3 a {
  position: relative;
  color: #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.project-block .inner-box .image .overlay-box h3 a:hover {
  color: #161a33;
}

.project-block .inner-box .image .overlay-box .read-more {
  position: relative;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  margin-top: 32px;
  display: inline-block;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Playfair Display", serif;
}

.project-block .inner-box .image .overlay-box .read-more .arrow {
  position: relative;
  margin-left: 5px;
  top: 1px;
}

.project-block .inner-box .image .overlay-box .read-more:hover {
  color: #161a33;
}
//gallery slider

.unlimitedHead {
  display: inline-block;
  width: 100%;
  .unlimitedItem {
    width: 33.3%;
    padding: 25px;
    padding: 25px;
    @include tablets {
      padding: 10px;
    }
    @include landscape_phones {
      width: 100%;
      text-align: center;
    }
    span {
      @include tablets {
        font-size: 14px;
      }
    }
    p {
      font-size: 14px;
      margin-top: 1rem;
      @include tablets {
        font-size: 13px;
      }
    }
    button {
      @include whiteOutLiniBTN;
    }
    span {
    }
  }
}

//keepInTouch
#keepInTouch {
  background: #00000063 url(../img/keepInTouch-banner.jpg) no-repeat center;
  background-size: cover;
  background-blend-mode: soft-light;
  min-height: 450px;
  .keepContentLeft {
    background: #ffffff42;
    width: 49%;
    display: inline-block;
    @include tablets {
      padding: 0.5rem !important;
    }
    @include iphone5S {
      width: 100%;
      text-align: center;
    }
    h5 {
      @include tablets {
        font-size: 16px;
      }
    }
    p {
      @include tablets {
        font-size: 14px;
      }
    }
  }
  .keepContentRight {
    width: 49%;
    float: right;
    background: #ffffff42;
    padding: 30px !important;
    @include tablets {
      padding: 22px !important;
    }
    @include iphone5S {
      width: 100%;
    }
    input {
      background: #000000cc;
      border: transparent;
    }
    textarea {
      background: #000000cc;
      border: transparent;
    }
    button{
      width:100%;
    }
  }
  .socialICOn {
    li {
      float: left;
      margin: 0 10px;
      a {
        color: white;
      }
      @include iphone5S {
        float: left;
        float: none;
        display: inline;
      }
    }
  }
  li {
    color: white;
    list-style: none;
    margin-bottom: 5px;
    @include tablets {
      font-size: 14px;
    }
    @include middleIphone {
      margin-bottom: 0;
    }
  }
  hgroup {
    h6 {
      font-size: 14px;
    }
    h5 {
      font-size: 14px;
      @include middleIphone {
        font-size: 12px;
      }
    }
  }
}
.map-container-4 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-4 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.needToGrow {
  background: #00000094 url(../img/needToGrow.jpg) no-repeat center;
  background-size: cover;
  min-height: 570px;
  background-blend-mode: multiply;
  position: relative;
  .mainContentNeedGrow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    @include landscape_phones {
      width: 100%;
    }
    @include iphone5S {
      font-size: 12px;
    }
  }
}
footer {
  background: #1a1c28;

  .footerinnerContent {
    display: inline-block;
    width: 100%;
    .footerInter {
      max-width: 265px;
      width: 100%;
      min-height: 300px;
      margin: 0 10px;
      @include large_desktop {
        max-width: 220px;
      }
      @include desktop {
        max-width: 320px;
        margin-bottom: 1rem;
      }
      @include tablets {
        max-width: 250px;
      }
      @include landscape_phones {
        max-width: unset;
        width: 100%;
        text-align: center;
      }
      p {
        color: #778590;
        font-size: 14px;
      }
      .readMoreBTN {
        position: relative;
        a {
          color: #19bc9d;
          &:hover {
            text-decoration: none;
          }
        }
      }

      .footerinterDownSide {
        display: inline-block;
        width: 100%;
        @include landscape_phones {
          width: unset;
        }
        li {
          float: left;
          list-style: none;
          width: 50%;
          margin-bottom: 1rem;
          @include landscape_phones {
            width: 32%;
          }
          @include iphone5S {
            width: 50%;
          }
          a {
            color: #a2b0bb;
            &:hover {
              text-decoration: none;
            }
            figure {
              float: left;
              margin: 0 1rem 0 0;
              @include large_desktop {
                margin: 0 5px 0 0;
              }
            }
            h6 {
              margin: 0;
            }
          }
        }
      }
      .footerInnerContentFooterInter {
        float: right;
        width: 75%;
        @include large_desktop {
          width: 70%;
        }
        @include desktop {
          width: 80%;
        }
        @include tablets {
          width: 65%;
        }
        @include landscape_phones {
          width: 80%;
          text-align: left;
        }
        span {
          color: #9eb1b8;
        }
        p {
          color: #64717a;
          font-size: 14px;
        }
        small {
          color: #8f9ca5;
          font-size: 15px;
        }
      }
      li {
        display: inline-block;
      }
      .innerTagWidgets {
        display: inline-block;
        li {
          margin: 10px 0px;
          display: inline-block;
          a {
            @include tagsWidgetBTN;
          }
        }
      }
      .usefulLinks {
        @include tablets {
          margin-top: 1rem;
        }
        ul {
          list-style-type: square;
          li {
            width: 100%;
            text-transform: capitalize;
            display: list-item;
            color: #88957f;
            @include landscape_phones {
              display: unset;
            }
            a {
              color: #88959e;
              &:hover {
                text-decoration: none;
                color: white;
              }
            }
          }
        }
      }
      .contactInfo {
        position: relative;
        li {
          color: #a2b0bb;
        }
      }
      .usefulLinks {
        @include large_desktop {
          padding-left: 1rem;
        }
      }
    }
  }
}
.lower_footer {
  background: #222534;
  width: 100%;
  min-height: 50px;
  padding: 15px 0;
  .lowerLeftContent {
    display: inline-block;
    @include large_desktop {
      width: 32%;
    }
    @include desktop {
      width: unset;
      text-align: center !important;
      margin: 0 auto !important;
    }
    @include middleIphone {
      width: 100%;
    }
    li {
      float: left;
      list-style: none;
      color: #a0b1bb;
      font-size: 14px;
      border-right: 1px solid white;
      margin: 0 10px;
      padding: 0 5px 0 0;
      text-transform: capitalize;
      span {
        color: #1cbd9c;
      }
      @include middleIphone {
        float: none;
        border: 0;
      }
    }
    li:first-child {
      margin: 0;
    }
    li:last-child {
      border: 0;
      margin: 0;
    }
  }
  .rightSideFooterMenu {
    @include large_desktop {
      width: 68%;
    }
    @include desktop {
      width: unset;
      text-align: center;
      margin: 0 auto;
    }
    li {
      float: left;
      list-style: none;
      margin: 0 13px;
      text-transform: capitalize;
      @include tablets {
        margin: 0 6px;
      }
      @include middleIphone {
        float: none;
        display: inline;
      }
      a {
        color: white;
        font-size: 14px;
        &:hover {
          color: #19bd9b;
          text-decoration: none;
        }
      }
    }

    li:first-child {
      margin-left: 0;
    }
    li:first-child {
      margin-right: 0;
    }
  }
}
hr {
  background: #253340;
  height: 2px;
  width: 100%;
}
